# Importing Data

In [1]:
import pandas as pd

In [37]:
microbiome=pd.read_csv(r"data/microbiome.csv")
microbiome

             Taxon  Patient  Group  Tissue  Stool
0       Firmicutes        1      0     136   4182
1       Firmicutes        2      1    1174    703
2       Firmicutes        3      0     408   3946
3       Firmicutes        4      1     831   8605
4       Firmicutes        5      0     693     50
5       Firmicutes        6      1     718    717
6       Firmicutes        7      0     173     33
7       Firmicutes        8      1     228     80
8       Firmicutes        9      0     162   3196
9       Firmicutes       10      1     372     32
10      Firmicutes       11      0    4255   4361
11      Firmicutes       12      1     107   1667
12      Firmicutes       13      0      96    223
13      Firmicutes       14      1     281   2377
14  Proteobacteria        1      0    2469   1821
15  Proteobacteria        2      1     839    661
16  Proteobacteria        3      0    4414     18
17  Proteobacteria        4      1   12044     83
18  Proteobacteria        5      0    2310     12
19  Proteobacteria        6      1    3053    547
20  Proteobacteria        7      0     395   2174
21  Proteobacteria        8      1    2651    767
22  Proteobacteria        9      0    1195     76
23  Proteobacteria       10      1    6857    795
24  Proteobacteria       11      0     483    666
25  Proteobacteria       12      1    2950   3994
26  Proteobacteria       13      0    1541    816
27  Proteobacteria       14      1    1307     53
28  Actinobacteria        1      0    1590      4
29  Actinobacteria        2      1      25      2
..             ...      ...    ...     ...    ...
40  Actinobacteria       13      0      51    183
41  Actinobacteria       14      1     310    204
42   Bacteroidetes        1      0      67      0
43   Bacteroidetes        2      1       0      0
44   Bacteroidetes        3      0      85      5
45   Bacteroidetes        4      1     143      7
46   Bacteroidetes        5      0     678      2
47   Bacteroidetes        6      1    4829    209
48   Bacteroidetes        7      0      74    651
49   Bacteroidetes        8      1     169    254
50   Bacteroidetes        9      0     106     10
51   Bacteroidetes       10      1      73    381
52   Bacteroidetes       11      0      30    359
53   Bacteroidetes       12      1      51     51
54   Bacteroidetes       13      0    2473   2314
55   Bacteroidetes       14      1     102     33
56           Other        1      0     195     18
57           Other        2      1      42      2
58           Other        3      0     316     43
59           Other        4      1     202     40
60           Other        5      0     116      0
61           Other        6      1     527     12
62           Other        7      0     357     11
63           Other        8      1     106     11
64           Other        9      0      67     14
65           Other       10      1     203      6
66           Other       11      0     392      6
67           Other       12      1      28     25
68           Other       13      0      12     22
69           Other       14      1     305     32

[70 rows x 5 columns]

In [38]:
pd.read_csv(r"data/microbiome.csv",header=None).head()

            0        1      2       3      4
0       Taxon  Patient  Group  Tissue  Stool
1  Firmicutes        1      0     136   4182
2  Firmicutes        2      1    1174    703
3  Firmicutes        3      0     408   3946
4  Firmicutes        4      1     831   8605

In [39]:
mb=pd.read_table(r"data/microbiome.csv",sep=",").head
mb

C:\Users\BA391760\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

<bound method NDFrame.head of              Taxon  Patient  Group  Tissue  Stool
0       Firmicutes        1      0     136   4182
1       Firmicutes        2      1    1174    703
2       Firmicutes        3      0     408   3946
3       Firmicutes        4      1     831   8605
4       Firmicutes        5      0     693     50
5       Firmicutes        6      1     718    717
6       Firmicutes        7      0     173     33
7       Firmicutes        8      1     228     80
8       Firmicutes        9      0     162   3196
9       Firmicutes       10      1     372     32
10      Firmicutes       11      0    4255   4361
11      Firmicutes       12      1     107   1667
12      Firmicutes       13      0      96    223
13      Firmicutes       14      1     281   2377
14  Proteobacteria        1      0    2469   1821
15  Proteobacteria        2      1     839    661
16  Proteobacteria        3      0    4414     18
17  Proteobacteria        4      1   12044     83
18  Proteobacteria        5      0    2310     12
19  Proteobacteria        6      1    3053    547
20  Proteobacteria        7      0     395   2174
21  Proteobacteria        8      1    2651    767
22  Proteobacteria        9      0    1195     76
23  Proteobacteria       10      1    6857    795
24  Proteobacteria       11      0     483    666
25  Proteobacteria       12      1    2950   3994
26  Proteobacteria       13      0    1541    816
27  Proteobacteria       14      1    1307     53
28  Actinobacteria        1      0    1590      4
29  Actinobacteria        2      1      25      2
..             ...      ...    ...     ...    ...
40  Actinobacteria       13      0      51    183
41  Actinobacteria       14      1     310    204
42   Bacteroidetes        1      0      67      0
43   Bacteroidetes        2      1       0      0
44   Bacteroidetes        3      0      85      5
45   Bacteroidetes        4      1     143      7
46   Bacteroidetes        5      0     678      2
47   Bacteroidetes        6      1    4829    209
48   Bacteroidetes        7      0      74    651
49   Bacteroidetes        8      1     169    254
50   Bacteroidetes        9      0     106     10
51   Bacteroidetes       10      1      73    381
52   Bacteroidetes       11      0      30    359
53   Bacteroidetes       12      1      51     51
54   Bacteroidetes       13      0    2473   2314
55   Bacteroidetes       14      1     102     33
56           Other        1      0     195     18
57           Other        2      1      42      2
58           Other        3      0     316     43
59           Other        4      1     202     40
60           Other        5      0     116      0
61           Other        6      1     527     12
62           Other        7      0     357     11
63           Other        8      1     106     11
64           Other        9      0      67     14
65           Other       10      1     203      6
66           Other       11      0     392      6
67           Other       12      1      28     25
68           Other       13      0      12     22
69           Other       14      1     305     32

[70 rows x 5 columns]>

In [40]:
mb=pd.read_csv(r"data/microbiome.csv",index_col=['Patient','Taxon'])
mb

                        Group  Tissue  Stool
Patient Taxon
1       Firmicutes          0     136   4182
2       Firmicutes          1    1174    703
3       Firmicutes          0     408   3946
4       Firmicutes          1     831   8605
5       Firmicutes          0     693     50
6       Firmicutes          1     718    717
7       Firmicutes          0     173     33
8       Firmicutes          1     228     80
9       Firmicutes          0     162   3196
10      Firmicutes          1     372     32
11      Firmicutes          0    4255   4361
12      Firmicutes          1     107   1667
13      Firmicutes          0      96    223
14      Firmicutes          1     281   2377
1       Proteobacteria      0    2469   1821
2       Proteobacteria      1     839    661
3       Proteobacteria      0    4414     18
4       Proteobacteria      1   12044     83
5       Proteobacteria      0    2310     12
6       Proteobacteria      1    3053    547
7       Proteobacteria      0     395   2174
8       Proteobacteria      1    2651    767
9       Proteobacteria      0    1195     76
10      Proteobacteria      1    6857    795
11      Proteobacteria      0     483    666
12      Proteobacteria      1    2950   3994
13      Proteobacteria      0    1541    816
14      Proteobacteria      1    1307     53
1       Actinobacteria      0    1590      4
2       Actinobacteria      1      25      2
...                       ...     ...    ...
13      Actinobacteria      0      51    183
14      Actinobacteria      1     310    204
1       Bacteroidetes       0      67      0
2       Bacteroidetes       1       0      0
3       Bacteroidetes       0      85      5
4       Bacteroidetes       1     143      7
5       Bacteroidetes       0     678      2
6       Bacteroidetes       1    4829    209
7       Bacteroidetes       0      74    651
8       Bacteroidetes       1     169    254
9       Bacteroidetes       0     106     10
10      Bacteroidetes       1      73    381
11      Bacteroidetes       0      30    359
12      Bacteroidetes       1      51     51
13      Bacteroidetes       0    2473   2314
14      Bacteroidetes       1     102     33
1       Other               0     195     18
2       Other               1      42      2
3       Other               0     316     43
4       Other               1     202     40
5       Other               0     116      0
6       Other               1     527     12
7       Other               0     357     11
8       Other               1     106     11
9       Other               0      67     14
10      Other               1     203      6
11      Other               0     392      6
12      Other               1      28     25
13      Other               0      12     22
14      Other               1     305     32

[70 rows x 3 columns]

In [41]:
pd.read_csv(r"data/microbiome.csv",skiprows=[1,2,3]).head()

        Taxon  Patient  Group  Tissue  Stool
0  Firmicutes        4      1     831   8605
1  Firmicutes        5      0     693     50
2  Firmicutes        6      1     718    717
3  Firmicutes        7      0     173     33
4  Firmicutes        8      1     228     80

In [42]:
data_chunks = pd.read_csv(r"data/microbiome.csv", chunksize=14)
data_chunks

In [36]:
for chunk in data_chunks:
    print (chunk)
    print ("--------------------------------------------------------------------------")

         Taxon  Patient  Group  Tissue  Stool
0   Firmicutes        1      0     136   4182
1   Firmicutes        2      1    1174    703
2   Firmicutes        3      0     408   3946
3   Firmicutes        4      1     831   8605
4   Firmicutes        5      0     693     50
5   Firmicutes        6      1     718    717
6   Firmicutes        7      0     173     33
7   Firmicutes        8      1     228     80
8   Firmicutes        9      0     162   3196
9   Firmicutes       10      1     372     32
10  Firmicutes       11      0    4255   4361
11  Firmicutes       12      1     107   1667
12  Firmicutes       13      0      96    223
13  Firmicutes       14      1     281   2377
--------------------------------------------------------------------------
             Taxon  Patient  Group  Tissue  Stool
14  Proteobacteria        1      0    2469   1821
15  Proteobacteria        2      1     839    661
16  Proteobacteria        3      0    4414     18
17  Proteobacteria        4      1   12044     83
18  Proteobacteria        5      0    2310     12
19  Proteobacteria        6      1    3053    547
20  Proteobacteria        7      0     395   2174
21  Proteobacteria        8      1    2651    767
22  Proteobacteria        9      0    1195     76
23  Proteobacteria       10      1    6857    795
24  Proteobacteria       11      0     483    666
25  Proteobacteria       12      1    2950   3994
26  Proteobacteria       13      0    1541    816
27  Proteobacteria       14      1    1307     53
--------------------------------------------------------------------------
             Taxon  Patient  Group  Tissue  Stool
28  Actinobacteria        1      0    1590      4
29  Actinobacteria        2      1      25      2
30  Actinobacteria        3      0     259    300
31  Actinobacteria        4      1     568      7
32  Actinobacteria        5      0    1102      9
33  Actinobacteria        6      1     678    377
34  Actinobacteria        7      0     260     58
35  Actinobacteria        8      1     424    233
36  Actinobacteria        9      0     548     21
37  Actinobacteria       10      1     201     83
38  Actinobacteria       11      0      42     75
39  Actinobacteria       12      1     109     59
40  Actinobacteria       13      0      51    183
41  Actinobacteria       14      1     310    204
--------------------------------------------------------------------------
            Taxon  Patient  Group  Tissue  Stool
42  Bacteroidetes        1      0      67      0
43  Bacteroidetes        2      1       0      0
44  Bacteroidetes        3      0      85      5
45  Bacteroidetes        4      1     143      7
46  Bacteroidetes        5      0     678      2
47  Bacteroidetes        6      1    4829    209
48  Bacteroidetes        7      0      74    651
49  Bacteroidetes        8      1     169    254
50  Bacteroidetes        9      0     106     10
51  Bacteroidetes       10      1      73    381
52  Bacteroidetes       11      0      30    359
53  Bacteroidetes       12      1      51     51
54  Bacteroidetes       13      0    2473   2314
55  Bacteroidetes       14      1     102     33
--------------------------------------------------------------------------
    Taxon  Patient  Group  Tissue  Stool
56  Other        1      0     195     18
57  Other        2      1      42      2
58  Other        3      0     316     43
59  Other        4      1     202     40
60  Other        5      0     116      0
61  Other        6      1     527     12
62  Other        7      0     357     11
63  Other        8      1     106     11
64  Other        9      0      67     14
65  Other       10      1     203      6
66  Other       11      0     392      6
67  Other       12      1      28     25
68  Other       13      0      12     22
69  Other       14      1     305     32
--------------------------------------------------------------------------

In [43]:
data_chunks = pd.read_csv(r"data/microbiome.csv", chunksize=14)
mean_tissue = pd.Series({chunk.iloc[0].Taxon:chunk.Tissue.mean() for chunk in data_chunks})
    
mean_tissue

Firmicutes         688.142857
Proteobacteria    3036.285714
Actinobacteria     440.500000
Bacteroidetes      634.285714
Other              204.857143
dtype: float64

In [44]:
pd.read_csv(r"data/microbiome_missing.csv").head(20)

             Taxon  Patient Tissue    Stool
0       Firmicutes        1    632    305.0
1       Firmicutes        2    136   4182.0
2       Firmicutes        3    NaN    703.0
3       Firmicutes        4    408   3946.0
4       Firmicutes        5    831   8605.0
5       Firmicutes        6    693     50.0
6       Firmicutes        7    718    717.0
7       Firmicutes        8    173     33.0
8       Firmicutes        9    228      NaN
9       Firmicutes       10    162   3196.0
10      Firmicutes       11    372 -99999.0
11      Firmicutes       12   4255   4361.0
12      Firmicutes       13    107   1667.0
13      Firmicutes       14      ?    223.0
14      Firmicutes       15    281   2377.0
15  Proteobacteria        1   1638   3886.0
16  Proteobacteria        2   2469   1821.0
17  Proteobacteria        3    839    661.0
18  Proteobacteria        4   4414     18.0
19  Proteobacteria        5  12044     83.0

In [45]:
pd.isnull(pd.read_csv(r"data/microbiome_missing.csv")).head(20)

    Taxon  Patient  Tissue  Stool
0   False    False   False  False
1   False    False   False  False
2   False    False    True  False
3   False    False   False  False
4   False    False   False  False
5   False    False   False  False
6   False    False   False  False
7   False    False   False  False
8   False    False   False   True
9   False    False   False  False
10  False    False   False  False
11  False    False   False  False
12  False    False   False  False
13  False    False   False  False
14  False    False   False  False
15  False    False   False  False
16  False    False   False  False
17  False    False   False  False
18  False    False   False  False
19  False    False   False  False

In [56]:
pd.read_csv(r"data/microbiome_missing.csv",na_values=['?',-99999]).head(20)

             Taxon  Patient   Tissue   Stool
0       Firmicutes        1    632.0   305.0
1       Firmicutes        2    136.0  4182.0
2       Firmicutes        3      NaN   703.0
3       Firmicutes        4    408.0  3946.0
4       Firmicutes        5    831.0  8605.0
5       Firmicutes        6    693.0    50.0
6       Firmicutes        7    718.0   717.0
7       Firmicutes        8    173.0    33.0
8       Firmicutes        9    228.0     NaN
9       Firmicutes       10    162.0  3196.0
10      Firmicutes       11    372.0     NaN
11      Firmicutes       12   4255.0  4361.0
12      Firmicutes       13    107.0  1667.0
13      Firmicutes       14      NaN   223.0
14      Firmicutes       15    281.0  2377.0
15  Proteobacteria        1   1638.0  3886.0
16  Proteobacteria        2   2469.0  1821.0
17  Proteobacteria        3    839.0   661.0
18  Proteobacteria        4   4414.0    18.0
19  Proteobacteria        5  12044.0    83.0

In [57]:
pd.read_csv(r"data/microbiome_missing.csv",na_values='?').head(20)

             Taxon  Patient   Tissue    Stool
0       Firmicutes        1    632.0    305.0
1       Firmicutes        2    136.0   4182.0
2       Firmicutes        3      NaN    703.0
3       Firmicutes        4    408.0   3946.0
4       Firmicutes        5    831.0   8605.0
5       Firmicutes        6    693.0     50.0
6       Firmicutes        7    718.0    717.0
7       Firmicutes        8    173.0     33.0
8       Firmicutes        9    228.0      NaN
9       Firmicutes       10    162.0   3196.0
10      Firmicutes       11    372.0 -99999.0
11      Firmicutes       12   4255.0   4361.0
12      Firmicutes       13    107.0   1667.0
13      Firmicutes       14      NaN    223.0
14      Firmicutes       15    281.0   2377.0
15  Proteobacteria        1   1638.0   3886.0
16  Proteobacteria        2   2469.0   1821.0
17  Proteobacteria        3    839.0    661.0
18  Proteobacteria        4   4414.0     18.0
19  Proteobacteria        5  12044.0     83.0

In [58]:
pd.read_csv(r"data/microbiome_missing.csv",na_values={'Tissue':'?'}).head(20)

             Taxon  Patient   Tissue    Stool
0       Firmicutes        1    632.0    305.0
1       Firmicutes        2    136.0   4182.0
2       Firmicutes        3      NaN    703.0
3       Firmicutes        4    408.0   3946.0
4       Firmicutes        5    831.0   8605.0
5       Firmicutes        6    693.0     50.0
6       Firmicutes        7    718.0    717.0
7       Firmicutes        8    173.0     33.0
8       Firmicutes        9    228.0      NaN
9       Firmicutes       10    162.0   3196.0
10      Firmicutes       11    372.0 -99999.0
11      Firmicutes       12   4255.0   4361.0
12      Firmicutes       13    107.0   1667.0
13      Firmicutes       14      NaN    223.0
14      Firmicutes       15    281.0   2377.0
15  Proteobacteria        1   1638.0   3886.0
16  Proteobacteria        2   2469.0   1821.0
17  Proteobacteria        3    839.0    661.0
18  Proteobacteria        4   4414.0     18.0
19  Proteobacteria        5  12044.0     83.0

In [61]:
pd.read_csv(r"data/microbiome_missing.csv",na_values={'Stool':[-99999],'Tissue':['?']}).head(20)

             Taxon  Patient   Tissue   Stool
0       Firmicutes        1    632.0   305.0
1       Firmicutes        2    136.0  4182.0
2       Firmicutes        3      NaN   703.0
3       Firmicutes        4    408.0  3946.0
4       Firmicutes        5    831.0  8605.0
5       Firmicutes        6    693.0    50.0
6       Firmicutes        7    718.0   717.0
7       Firmicutes        8    173.0    33.0
8       Firmicutes        9    228.0     NaN
9       Firmicutes       10    162.0  3196.0
10      Firmicutes       11    372.0     NaN
11      Firmicutes       12   4255.0  4361.0
12      Firmicutes       13    107.0  1667.0
13      Firmicutes       14      NaN   223.0
14      Firmicutes       15    281.0  2377.0
15  Proteobacteria        1   1638.0  3886.0
16  Proteobacteria        2   2469.0  1821.0
17  Proteobacteria        3    839.0   661.0
18  Proteobacteria        4   4414.0    18.0
19  Proteobacteria        5  12044.0    83.0